<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            Company Details
        </a>
        <a href="/logout" class="navbar-brand">Reset</a>
        <form action="/search" method="POST">
            <input class="navbar-header" spellcheck="false" placeheader="Search for the companies" autocomplete="off" name="search" type="text" />
            <button type="submit">Search</button>
        </form>
    </div>

</div>
</nav>
