<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h3>Register yourself</h3>
        <form action="/" method="post">
            <input type="text" name="name" placeholder="Name"/>
            <input name="email" placeholder="email" type="email" required>
            <input type="password" name="password" placeholder="password" required>
            <input type="text" name="jobDesignation" placeholder="Job Designation"/>
            <input type="text" name="companyName" placeholder="Company Name"/>
            <input type="text" name="companyAddress" placeholder="Company Address"/>
            <button type="submit" id="registration">Register</button>
        </form>
    </div>
    <div>
        Already have an account?
        <br> <a href="/login">Login</a>
    </div>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>
